.pace-done .ly_container {
  opacity: 1;
  transition: $transition;
}

.ly_container {
  opacity: 0;
}

.pace {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
  background-clip: padding-box;
  pointer-events: none;

  user-select: none;
}

.pace .pace-progress {
  transform: none !important;
  text-align: center;
}

.pace .pace-progress::after {
  display: block;
  color: $cSubTitle;
  font-family: "Helvetica Neue", "Yu Gothic", "Meiryo";
  font-size: 2em;
  content: attr(data-progress-text);
}

.pace.pace-inactive {
  display: none;
}

.pace-progress-inner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: $cWineRed;

@include animation(
  $name: kf_sk_rotateplane,
  $duration: 1.2s,
  $iteration-count: infinite,
  $timing-function: ease-in-out
  );
}

@keyframes kf_sk_rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
