// フッター
.bl_footer {
  padding: 60px 0;
  .bl_logo {
    font-size: 38px;
  }
}
@include mq("tab") {
  .bl_footer {
    margin-bottom: 0;
    .bl_logo {
      justify-content: flex-start;
    }
  }
}

.bl_footerNav {
  justify-content: space-between;
  align-items: center;
  text-align: center;

@extend .bl_flex;

  &_ul {
    justify-content: space-between;

@extend .bl_flex;
  }
  &_li {
    margin: 10px;
    & > a {
      color: $cSubTitle;
      text-decoration: none;
    }
  }
}
@include mq("tab") {
  .bl_footerNav {
    &_li {
      margin: 10px 30px 10px 0;
    }
  }
}
