// -------------------------------
// ヘッダー
.bl_header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: $navHeight;
  &.js_triggered {
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, .9);
  }
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bl_header {
  .bl_logo {
    font-size: 38px;
  }
}
@include mq("tab") {
  .bl_header {
    .bl_logo {
      justify-content: flex-start;
    }
  }
}

.bl_headerNav {
  display: none;

  &_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_li {
    margin-left: 20px;
    & > a {
      color: $cBlack;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
@include mq("tabL") {
  .bl_headerNav {
    display: block;
  }
}

@include mq("tabL") {
  .bl_drawer_btn {
    display: none;
  }
}
