.el_btn {
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid $cBlack;
  background-color: $cWhite;
  color: $cBlack;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: $transition;

  &:hover {
    border-color: $cBlack;
    background-color: $cBlack;
    color: $cWhite;
  }
  // 通常時に影をつける；モディファイア
  &.el_btn__float {
    box-shadow: $cBtnShadow;
  }
  // ホバー時に影をつける；モディファイア
  &.el_btn__hoverFloat {
    &:hover {
      box-shadow: $cBtnShadow;
    }
  }
  // 色の反転；モディファイア
  &.el_btn__colorReversal {
    border-color: $cBlack;
    background-color: $cBlack;
    color: $cWhite;
    &:hover {
      background-color: $cWhite;
      color: $cBlack;
    }
  }
  // 左からスライド；モディファイア
  &.el_btn__slideLeft {
    position: relative;
    z-index: 10;
    overflow: hidden;
    &::before {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
      transform: translateX(-100%);
      width: 100%;
      height: 100%;
      background-color: $cBlack;
      content: "";
      transition: $transition;
    }
    &:hover {
      background-color: $cWhite; /* 打ち消し */
      color: $cWhite;

      &::before {
        transform: none;
      }
    }
  }
  // 3dClose；モディファイア
  &.el_btn__3dClose {
    position: relative;
    z-index: 10;
    transform-style: preserve-3d;
    perspective: 300px;
    overflow: hidden;
    &::before {
      display: inline-block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
      transform: rotateX(-90deg);
      transform-origin: top center;
      width: 100%;
      height: 100%;
      background-color: $cBlack;
      content: "";
      transition: $transition;
    }
    &:hover {
      background-color: $cWhite; /* 打ち消し */
      color: $cWhite;
      &::before {
        opacity: 1;
        transform: rotateX(0);
      }
    }
  }
  // 3dCover；モディファイア
  &.el_btn__3dCover {
    position: relative;
    z-index: 10;
    transform-style: preserve-3d;
    perspective: 300px;

    .el_btn_txt {
      display: inline-block;
      transform: translateZ(0px);
    }
    &::before {
      display: inline-block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateX(90deg);
      transform-origin: top center;
      width: 100%;
      height: 100%;
      background-color: $cBlack;
      content: "";
      transition: $transition;
    }
    &:hover {
      background-color: $cWhite; /* 打ち消し */
      color: $cWhite;

      &::before {
        opacity: 1;
        transform: none;
      }
    }
  }
  // 3dCube；モディファイア
  &.el_btn__3dCube {
    position: relative;
    transform-style: preserve-3d;
    perspective: 300px;
    width: 150px;
    height: 46px;
    margin: 0 auto;
    border: none; /* 打ち消し */
    background-color: transparent; /* 打ち消し */

    .el_btn {
      &_txt {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $cBlack;
        line-height: 46px;
        text-align: center;
        transition: $transition;
        &:nth-child(1) {
          transform: rotateX(90deg);
          transform-origin: center center -23px;
          background-color: $cBlack;
          color: $cWhite;
        }
        &:nth-child(2) {
          transform: rotateX(0);
          transform-origin: center center -25px;
          background-color: $cWhite;
          color: $cBlack;
        }
      }
    }
    &:hover {
      .el_btn {
        &_txt {
          &:nth-child(1) {
            transform: rotateX(0);
          }
          &:nth-child(2) {
            transform: rotateX(-90deg);
          }
        }
      }
    }
  }
}
