$pattern: (
  "up": translateY(40px),
  "down": translateY(-40px),
  "left": translateX(40px),
  "right": translateX(-40px),
);

@each $key, $value in $pattern {
  .bl_appear.bl_appear__#{$key} {
    .bl_appear_item {
      transform: $value;
    }
  }
}

.bl_appear {
  .bl_appear_item {
    opacity: 0;
    transition: .8s;
  }
  &.js_inView {
    .bl_appear_item {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
