// -------------------------------
// カバースライド
.bl_coverSlide {
  position: relative;
  overflow: hidden;
  &::after {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    background-color: $cGrey;
    content: "";
  }
  &.js_inView {
    &::after {
      opacity: 1;

@include animation(
      $name: kf_cover_slide,
      $duration: 1.6s,
      $timing-function: ease-in-out
      );
    }
  }
}
@keyframes kf_cover_slide {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
// カバースライド（内側）
.bl_coverSlide_img {
  opacity: 0;
  .js_inView & {
    opacity: 1;

@include animation(
    $name: kf_img_show,
    $duration: 1.6s,
    $timing-function: ease-in-out,
    $fill-mode: normal
    );
  }
}
@keyframes kf_img_show {
  0%,
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}
