<aside class="side left">
  <div class="side__inner">
    <a class="twitter icon tween-animate-title" href="#">Twitter</a>
    <a class="fb icon tween-animate-title" href="#">Facebook</a>
  </div>
</aside>