<aside class="bl_side bl_side__left">
  <div class="bl_side_inner">
    <a class="bl_side_txt el_beforeIcon el_beforeIcon__twitter" href="#">Twitter</a>
    <a class="bl_side_txt el_beforeIcon el_beforeIcon__facebook" href="#">Facebook</a>
  </div>
</aside>