<footer class="bl_footer bl_appear bl_appear__up ly_contentWidth">
    <div class="bl_logo bl_appear_item">
        <img src="./img/logo.svg" alt="" class="bl_logo_img" />
        <span class="bl_logo_stay">Stay</span>
        <span class="bl_logo_world">World</span>
    </div>
    <nav class="bl_footerNav">
        <ul class="bl_footerNav_ul">
            <li class="bl_footerNav_li bl_appear_item"><a href="#">Service</a></li>
            <li class="bl_footerNav_li bl_appear_item"><a href="#">Contact</a></li>
            <li class="bl_footerNav_li bl_appear_item"><a href="#">Company</a></li>
            <li class="bl_footerNav_li bl_appear_item"><a href="#">Sitemap</a></li>
        </ul>
        <div class="bl_footerNav_copyright bl_appear_item">
            &copy; Code Mafia
        </div>
    </nav>
</footer>