<header class="bl_header">
    <div class="bl_header_inner ly_contentWidth bl_appear bl_appear__up">
        <div class="bl_logo bl_appear_item">
            <img src="./img/logo.svg" alt="" class="bl_logo_img" />
            <span class="bl_logo_stay">Stay</span>
            <span class="bl_logo_world">World</span>
        </div>

        <nav class="bl_headerNav">
            <ul class="bl_headerNav_ul">
                <li class="bl_headerNav_li bl_appear_item"><a href="#">Service</a></li>
                <li class="bl_headerNav_li bl_appear_item"><a href="#">Company</a></li>
                <li class="bl_headerNav_li bl_appear_item">
                    <a class="el_btn el_btn__float" href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <button class="bl_drawer_btn">
            <span class="bl_drawer_line"></span>
            <span class="bl_drawer_line"></span>
            <span class="bl_drawer_line"></span>
        </button>
    </div>
</header>