<header class="header">
    <div class="header__inner appear up">
        <div class="logo item">
            <img src="./img/logo.svg" alt="" class="logo__img" />
            <span class="logo__stay">Stay</span>
            <span class="logo__world">World</span>
        </div>
        <nav class="header__nav">
            <ul class="header__ul">
                <li class="header__li item"><a href="#">Service</a></li>
                <li class="header__li item"><a href="#">Company</a></li>
                <li class="header__li item">
                    <a class="el_btn el_btn__3dCover" href="#"><span class="el_btn_txt">Contact</span></a>
                </li>
            </ul>
        </nav>
        <button class="bl_drawer_btn" onclick="document.querySelector('body').classList.toggle('js_drawerOpen')">
            <span class="bl_drawer_line"></span>
            <span class="bl_drawer_line"></span>
            <span class="bl_drawer_line"></span>
        </button>
    </div>
</header>