<div class="bl_hero">
  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide bl_hero_slide">
        <div class="bl_hero_slide_ttl">Enjoy Rich</div>
        <img src="./img/image-1.jpg" alt="" />
      </div>
      <div class="swiper-slide bl_hero_slide">
        <div class="bl_hero_slide_ttl">Fantastic</div>
        <img src="./img/image-2.jpg" alt="" />
      </div>
      <div class="swiper-slide bl_hero_slide">
        <div class="bl_hero_slide_ttl">Experience</div>
        <img src="./img/image-3.jpg" alt="">
      </div>

    </div>

    <div class="bl_hero_footer">
      <img src="./img/arrow.svg" alt="" class="bl_hero_footer_downArrow">
      <span class="bl_hero_footer_scrollTxt">scroll</span>
    </div>

  </div>
</div>