<section class="ly_container ly_container__paddingContents">
  <h2 class="el_h2">患者様に寄り添った施術を<br>お約束します</h2>
  <p class="el_description_txt">
    患者様が安心してご来院いただけるよう、当院の施術風景の一部をご紹介いたします。
    患者様のお話をしっかりと聞き、痛みの原因を丁寧にご説明いたします。
    寄り添う施術をいたしますので、安心してご来院ください。
  </p>
  <div class="bl_colUnit bl_colUnit__col23">
    <div class="bl_colItem">
      <div class="bl_group1">
        <p class="bl_group1_ttl">腰痛の施術</p>
        <figure class="bl_group1_imgWrapper el_picture56">
          <img class="js_lazyLoad" alt="腰痛の施術イメージ" src="./img/loading_ico.svg" data-src="./img/treatment_img01.jpg">
        </figure>
        <p class="bl_group1_txt">
          腰痛患者さんの腰回りのマッサージを行っています。
        </p>
      </div>
      <!-- /.bl_group1 -->
    </div>
    <!-- /.bl_colItem -->
    <div class="bl_colItem">
      <div class="bl_group1">
        <p class="bl_group1_ttl">首こりの施術</p>
        <figure class="bl_group1_imgWrapper el_picture56">
          <img class="js_lazyLoad" alt="首こりの施術イメージ" src="./img/loading_ico.svg" data-src="./img/treatment_img02.jpg">
        </figure>
        <p class="bl_group1_txt">
          治療機器を使って、首の痛み緩和の施術を行っています。
        </p>
      </div>
      <!-- /.bl_group1 -->
    </div>
    <!-- /.bl_colItem -->
    <div class="bl_colItem">
      <div class="bl_group1">
        <p class="bl_group1_ttl">五十肩の施術</p>
        <figure class="bl_group1_imgWrapper el_picture56">
          <img class="js_lazyLoad" alt="五十肩の施術イメージ" src="./img/loading_ico.svg" data-src="./img/treatment_img03.jpg">
        </figure>
        <p class="bl_group1_txt">
          五十肩患者さんの肩周りのマッサージを行っています。
        </p>
      </div>
      <!-- /.bl_group1 -->
    </div>
    <!-- /.bl_colItem -->
    <div class="bl_colItem">
      <div class="bl_group1">
        <p class="bl_group1_ttl">ねんざの施術</p>
        <figure class="bl_group1_imgWrapper el_picture56">
          <img class="js_lazyLoad" alt="ねんざの施術イメージ" src="./img/loading_ico.svg" data-src="./img/treatment_img04.jpg">
        </figure>
        <p class="bl_group1_txt">
          スポーツで怪我をしてしまった患者さんのねんざ施術を行っています。
        </p>
      </div>
      <!-- /.bl_group1 -->
    </div>
    <!-- /.bl_colItem -->
    <div class="bl_colItem">
      <div class="bl_group1">
        <p class="bl_group1_ttl">骨盤まわりのストレッチ</p>
        <figure class="bl_group1_imgWrapper el_picture56">
          <img class="js_lazyLoad" alt="骨盤周りのストレッチイメージ" src="./img/loading_ico.svg"
            data-src="./img/treatment_img05.jpg">
        </figure>
        <p class="bl_group1_txt">
          産後の骨盤ゆがみ改善のストレッチを行っています。
        </p>
      </div>
      <!-- /.bl_group1 -->
    </div>
    <!-- /.bl_colItem -->
    <div class="bl_colItem">
      <div class="bl_group1">
        <p class="bl_group1_ttl">肩こりの施術</p>
        <figure class="bl_group1_imgWrapper el_picture56">
          <img class="js_lazyLoad" alt="肩こり施術イメージ" src="./img/loading_ico.svg" data-src="./img/treatment_img06.jpg">
        </figure>
        <p class="bl_group1_txt">
          肩こりのひどい患者様の肩周りの筋肉をほぐしています。
        </p>
      </div>
      <!-- /.bl_group1 -->
    </div>
    <!-- /.bl_colItem -->
    <div class="bl_colItem">
      <div class="bl_group1">
        <p class="bl_group1_ttl">ヘッドマッサージ</p>
        <figure class="bl_group1_imgWrapper el_picture56">
          <img class="js_lazyLoad" alt="ヘッドマッサージイメージ" src="./img/loading_ico.svg" data-src="./img/treatment_img07.jpg">
        </figure>
        <p class="bl_group1_txt">
          頭周りの凝り固まった筋肉をほぐしています。
        </p>
      </div>
      <!-- /.bl_group1 -->
    </div>
    <!-- /.bl_colItem -->
    <div class="bl_colItem">
      <div class="bl_group1">
        <p class="bl_group1_ttl">はり施術1</p>
        <figure class="bl_group1_imgWrapper el_picture56">
          <img class="js_lazyLoad" alt="はり施術イメージ" src="./img/loading_ico.svg" data-src="./img/treatment_img08.jpg">
        </figure>
        <p class="bl_group1_txt">
          腰にはりを刺しています。
        </p>
      </div>
      <!-- /.bl_group1 -->
    </div>
    <!-- /.bl_colItem -->
    <div class="bl_colItem">
      <div class="bl_group1">
        <p class="bl_group1_ttl">はり施術2</p>
        <figure class="bl_group1_imgWrapper el_picture56">
          <img class="js_lazyLoad" alt="はり施術イメージ" src="./img/loading_ico.svg" data-src="./img/treatment_img09.jpg">
        </figure>
        <p class="bl_group1_txt">
          筋肉の緊張をゆるめていきます。
        </p>
      </div>
      <!-- /.bl_group1 -->
    </div>
    <!-- /.bl_colItem -->
  </div>
  <!-- /.bl_cardUnit bl_cardUnit__col3 -->
</section>